<style>
.card-body {
  padding: 5px;
  text-align: center;
}

.card-title {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 5px;
  line-height: 1.2;
}

.read-more-btn {
  background-color: #b71c1c;
  color: #ffffff;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.read-more-btn:hover {
  background-color: #8f0000;
}

.card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>

<br>
<div class="card-deck mb-4">
  {% for project in site.projects %}
  <div class="card">
    <div class="card-img-container">
      <img class="card-img" src="{{ project.img | relative_url }}" alt="{{ project.title }}">
    </div>
    <div class="card-body">
      <h5 class="card-title" style="font-size: 14px;">{{ project.title }}</h5>
    </div>
    <div class="card-footer">
      <a href="{{ project.url | relative_url }}" class="read-more-btn">Read More</a>

    </div>
  </div>
  {% endfor %}
</div>