---
layout: default
---
<!-- _layouts/cv.html -->

<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
.svg-icon {
    width: 24px;
    height: 24px;
}
        <div class="post">
          <header class="post-header">
            <h1 class="post-title">{{ page.title }} {% if page.cv_pdf %}<a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}" target="_blank" rel="noopener noreferrer" class="float-right"><img src="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg" alt="cv pdf" style="width: 68px; height: 68px;"></a>{% endif %}</h1>
            <p class="post-description">{{ page.description }}</p>
          </header>

          <article>
            <div class="cv">
              {% for entry in site.data.cv %}
                <div class="card mt-3 p-3">
                  <h3 class="card-title font-weight-medium">{{ entry.title }}</h3>
                  <div>
                  {% if entry.type == "list" %}
                    {% include cv/list.html %}
                  {% elsif entry.type == "map" %}
                    {% include cv/map.html %}
                  {% elsif entry.type == "nested_list" %}
                    {% include cv/nested_list.html %}
                  {% elsif entry.type == "time_table" %}
                   {% include cv/time_table.html %}
                  {% else %}
                    {{ entry.contents }}
                  {% endif %}
                  </div>
                </div>
              {% endfor %}
              </div>
          </article>

        </div>
